In [1]:
# Loading Libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

In [3]:
# Loading the data
df = pd.read_csv(r"D:\AI\LibrariesForAI\Supervised_Learning\17_KNN\Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df['Gender'] = df['Gender'].map({'Male':0,"Female":1})
df.drop(["User ID"],axis=1,inplace=True)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       0   19            19000          0
1       0   35            20000          0
2       1   26            43000          0
3       1   27            57000          0
4       0   19            76000          0

In [5]:
X=df.drop(["Purchased"],axis=1)
y=df["Purchased"]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [6]:
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [7]:
knn_clf = KNeighborsClassifier(n_neighbors=7,p=2)
knn_clf.fit(X_train_sc,y_train)

KNeighborsClassifier(n_neighbors=7)

In [8]:
print("Training Score :",knn_clf.score(X_train_sc,y_train))
print("Test Score :",knn_clf.score(X_test_sc,y_test))

Training Score : 0.9035714285714286
Test Score : 0.925

In [9]:
knn_hyperparams = [{'n_neighbors':[3,5,7,9],'p':[1,2],'weights':['uniform','distance'],'algorithm':['auto','ball_tree','kd_tree','brute']}]
knn_clf = KNeighborsClassifier()
grid_clf = GridSearchCV(knn_clf,knn_hyperparams,cv=10,scoring="accuracy")
grid_clf.fit(X_train_sc,y_train)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid=[{'algorithm': ['auto', 'ball_tree', 'kd_tree',
                                        'brute'],
                          'n_neighbors': [3, 5, 7, 9], 'p': [1, 2],
                          'weights': ['uniform', 'distance']}],
             scoring='accuracy')

In [10]:
grid_clf.best_params_

{'algorithm': 'auto', 'n_neighbors': 7, 'p': 2, 'weights': 'uniform'}

In [11]:
grid_clf.best_score_

0.9107142857142856

In [12]:
grid_clf.score(X_test_sc,y_test)

0.925